*.iml
*.jar
*.log
.DS_Store
.clj-kondo/
.cpcache/
.hg/
.hgignore
.idea
.lein-*
.lsp/
.nrepl-*
.shadow-cljs/
/checkouts
/src/gen
/target
Dockerfile
README.md
dev.sh
node_modules/
pom.xml
pom.xml.asc
public/
resources/public/app-js/
