{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.4"}
        org.clojure/clojurescript {:mvn/version "1.12.134"}
        ; com.google.javascript/closure-compiler-unshaded {:mvn/version "v20240317"}

        tongue/tongue {:mvn/version "0.4.4"}

        thheller/shadow-cljs {:mvn/version "3.3.4"}
        no.cjohansen/replicant {:mvn/version "2025.12.1"}}}
