{ :deps {}

 :dev-http {9000 ["resources/public" "classpath:public"]}

 :builds
 {:meetinizer
  {:target :browser
   :modules {:main {:init-fn meetinizer.main/init!}}
   :dev {:output-dir "resources/public/app-js"}}}
 }
