;; shadow-cljs configuration
{;:source-paths
 ; ["src"]
 ; ["src/dev"
 ;  "src/main"
 ;  "src/test"]

 ; :dependencies
 ; []

 :deps {}

 :dev-http {9000 ["resources/public" "classpath:public"]}

 :builds
 {:meetinizer
  {:target :browser
   :modules {:main {:init-fn meetinizer.main/main}}
   :dev {:output-dir "resources/public/app-js"}}}
 }
