body {
    font-size: 26px;
    font-family: sans-serif;
}

main {
    h1 {
        color:blue;
    }

    &.login {
        div.info {
            margin-top:1em;
            margin-bottom:1.5em;
        }
        input[type="email"] {
            margin-left: 2em;
            margin-right: 2em;
            font-size: 26px;
        }
        input[type="button"] {
            margin-top: 1em;
            display: block;
            background: transparent;
            font-size: 0.8em;
            border-radius: 6px;
        }
    }

    &.meeting {
        table {
            /* width: 800px; */
            .dateheader {
                font-size: 0.5em;
                display: inline-flex;
                flex-direction: column;
            }
        }
    }
    &.admin {
        &.meeting {
            div.slots {
                display: inline-flex;
                flex-direction: column;
                row-gap: 5px;

                div.slot {
                    text-align: center;
                    display: flex;
                    column-gap: 20px;
                    border: 1px solid black;
                    background: #a9a9a9;
                    padding: 2px;
                    &.add {
                        background: none;
                        border: none;
                    }
                }
                div.from, div.to {
                    background: #95a3e8;
                    width: 200px;
                    border-radius: 10px;
                    border: 2px solid #445599;
                }
            }
        }
    }
}
