html {
    min-height: 100dvh;
}
body {
    font-size: 26px;
    font-family: sans-serif;
    background: linear-gradient(#f0f0ff, #e0e0ef);
    min-height: 100dvh;

    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.2em;
    --border-col: rgba(0,0,0,0.5);
    --vote-active-main: green;
    --vote-active-bg: #ddffdd;
    --vote-inactive-main: red;
    --vote-inactive-bg: #ffdddd;
}

main {
    &.meet {
        &.login {
            div.info {
                margin-top:1em;
                margin-bottom:1.5em;
            }
            input[type="email"] {
                margin-left: 2em;
                margin-right: 2em;
                font-size: 26px;
            }
            input[type="button"] {
                margin-top: 1em;
                display: block;
                background: transparent;
                font-size: 0.8em;
                border-radius: 6px;
            }
        }

        &.meeting {
            .comment {
                margin-top: 2em;
                margin-bottom: 2em;
            }
            table {
                border-collapse: separate;
                border-spacing: 0;

                .dateheader {
                    box-sizing: border-box;
                    vertical-align: bottom;
                    font-size: 0.5em;
                    display: inline-flex;
                    flex-direction: column;
                    justify-content: center;
                    /* padding-left: 10px; */
                    /* padding-right: 10px; */
                    height: 3em;
                    min-width: 8.5em;
                    background: linear-gradient(-20deg, white, #eeeeee);
                    border-top-right-radius: 0.5rem;
                    border-top-left-radius: 0.5rem;
                    border-top: 1px solid var(--border-col);
                    border-left: 1px solid var(--border-col);
                    border-right: 1px solid var(--border-col);
                    margin-left: -1px;
                    margin-right: -1px;
                    margin-bottom: -1px;
                }

                td.vote {
                    padding: 0.2em;
                    user-select: none;
                }
                div.vote {
                    display: inline-block;
                    border-radius: 50%;
                    border-width: 3px;
                    border-style: solid;
                    width: 1.4em;
                    color: var(--vote-inactive-main);
                    border-color: var(--vote-inactive-bg);
                    background-color: var(--vote-inactive-bg);
                    &.active {
                        color: var(--vote-active-main);
                        border-color: var(--vote-active-bg);
                        background-color: var(--vote-active-bg);
                    }
                }
                td.name { 
                    background: #eeeeee;
                    padding-left: 0.4em;
                    padding-right: 0.6em;
                }
                td.blank {
                    max-height: 10px;
                    height: 10px;
                    font-size: 0.5em;
                }
                tr:nth-child(2) {
                    td {
                        border-top: 1px solid var(--border-col);
                    }
                    td:first-child {
                        border-top-left-radius: 1.0rem;
                    }
                }
                tr:nth-last-child(2) {
                    td {
                        border-bottom: 1px solid var(--border-col);
                    }
                    td:first-child {
                        border-bottom-left-radius: 1.0rem;
                    }
                }
                tr:nth-child(n+2) {
                    td:first-child {
                        border-left: 1px solid var(--border-col);
                    }
                    td:last-child {
                        border-right: 1px solid var(--border-col);
                    }

                }
                tr.my-user {
                    td {
                        border-bottom: 1px solid var(--border-col);
                    }
                    td:first-child {
                        border-top-left-radius: 1.0rem;
                        border-bottom-left-radius: 1.0rem;
                    }
                    td:last-child {
                        border-bottom-right-radius: 1.0rem;
                    }
                    td.vote {
                        cursor: pointer;
                    }
                    div.vote {
                        border-color: var(--vote-inactive-main);
                        &.active {
                            border-color: var(--vote-active-main);
                        }
                    }
                    td.name {
                        background-color: white;
                    }
                    td:nth-child(2n+2) {
                        background-color: #eeeeee;
                    }
                    td:nth-child(2n+3) {
                        background-color: #cccccc;
                    }
                }
                td:nth-child(2n+2) {
                    background-color: #cccccc;
                }
                td:nth-child(2n+3) {
                    background-color: #aaaaaa;
                }
                td:nth-child(n+2) {
                    text-align: center;
                }
            }
        }
    }
    &.admin {
        &.meeting {
            div.slots {
                display: inline-flex;
                flex-direction: column;
                row-gap: 5px;

                div.slot {
                    text-align: center;
                    display: flex;
                    column-gap: 20px;
                    border: 1px solid black;
                    border-radius: 10px;
                    background: #c9c9ff;

                    &:nth-child(2) {
                        background: #ffc9c9;
                    }

                    &.add {
                        background: none;
                    }
                }
                div.from, div.to {
                    /* background: #95a3e8; */
                    width: 200px;
                    border-radius: 10px;
                }
                div.to {
                    border-left: 1px solid #445599;
                }
                div.from {
                    border-right: 1px solid #445599;
                }
            }
            div.emails {
                div {
                    background: #dedede;
                    margin-bottom: 1em;
                }
            }
        }
    }
}
